<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Senior Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=PT+Serif&family=Playfair+Display+SC&family=Tinos&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar nav w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding-large ">Home</a>
    <a href="{% url 'encrypt' %}" class="w3-hide-small w3-bar-item w3-button w3-padding-large">Encrypt</a>
    <a href="{% url 'decrypt' %}" class="w3-hide-small active w3-bar-item w3-button w3-padding-large">Decrypt</a>
    <a href="{% url 'thesis' %}" class="w3-hide-small w3-bar-item w3-button w3-padding-large">Thesis</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block nav w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'encrypt' %}" class="w3-bar-item w3-button w3-padding-large">Encrypt</a>
    <a href="{% url 'decrypt' %}" class="w3-bar-item w3-button w3-padding-large">Decrypt</a>
    <a href="{% url 'thesis' %}" class="w3-bar-item w3-button w3-padding-large">Thesis</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px">
  <h1 class="header w3-margin w3-jumbo">Decrypt Page</h1>
</header>

<!-- My decryption -->
<div id="everythingDecrypt">
  <div class="decryptContent">
      <div id="encryptedMessageInputDiv" class="text">
          <textarea id="encryptedMessageInput" placeholder="Put what you want to decrypt here"></textarea>
          <!-- <input type="text" id="encryptedMessageInput"> -->
      </div>

      <div id="keyInputDecrypt" class="decryptContent text">
          <div id="decryptKeyDiv">
              <input type="text" id="decryptKey" placeholder="Put the encryption key here">
          </div>
          <div id="decryptButtonDiv">
              <button id="decryptButton" onclick="decrypt()">Decrypt</button>
          </div>
      </div>

      <div id="decryptedMessage" class="text">
          Decrypted message
      </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
