<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Senior Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=PT+Serif&family=Playfair+Display+SC&family=Tinos&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="{% static 'js/script2.js' %}"></script>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar nav w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{% url 'encrypt' %}" class="w3-hide-small active w3-bar-item w3-button w3-padding-large">Encrypt</a>
    <a href="{% url 'decrypt' %}" class="w3-hide-small w3-bar-item w3-button w3-padding-large">Decrypt</a>
    <a href="{% url 'thesis' %}" class="w3-hide-small w3-bar-item w3-button w3-padding-large">Thesis</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block nav w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'encrypt' %}" class="w3-bar-item nav w3-button w3-padding-large">Encrypt</a>
    <a href="{% url 'decrypt' %}" class="w3-bar-item nav w3-button w3-padding-large">Decrypt</a>
    <a href="{% url 'thesis' %}" class="w3-bar-item nav w3-button w3-padding-large">Thesis</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px">
  <h1 class="header w3-margin w3-jumbo">Encrypt Page</h1>
</header>

<!-- My encrpytion -->
<div id="everythingEncrypt">
  <div id="key" class="encryptContent">
      <div id="keyLength">
          <label for="keySecurenessLevel" id="keySecurenessLabel">How strong is the key? <br>(slide or
              type)</label><br>
          <input type="range" id="keySecurenessLevel" min="1" max="26" onchange="updateKeyInput(this.value)"
              value="1">
          <input type="number" id="keySecureness" min="1" max="26" value="1"
              onchange="updateRangeInput(this.value)">
      </div>
     
      <div id="generateKey">
          <button class="encryptionButtons" onclick="buttonClick()">Generate Key</button>
      </div>
      <div id="displayKeyDiv" class="text">
          <span id="displayKey"> Your Key Will Go Here</span>
          <div id="keyButtons">
          <button id="copyKeyButton" onclick="copyKey()">Copy</button>
          <button id="downloadKeyButton" onclick="downloadKey()">Download</button>
          </div>
      </div>
    </div>
      
  </div>

  <div id="Message" class="encryptContent text">
      <div id="originalMessage">
          <textarea id="orignalMessageInput" placeholder="Write your message here"></textarea>
          <div id="KeyEncryptMessage" class="encryptContent">
              <div>
                  <input type="text" id="inputKey" placeholder="Put your encryption key here">
              </div>
              <div id="encryptButton">
                  <button class="encryptionButtons" onclick="encrypt()">Encrypt</button>
              </div>
          </div>
          <div id="encryptedMessage">
              Encrypted message will go here
          </div>
          <div id="messButton">
            <button id="downloadMessageButton" onclick="downloadMessage()">Download</button>
          </div>

      </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
