{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{% static 'js/script1.js' %}"></script>
    <title>Encrypt your message</title>
</head>

<body>
    <header>
        <div id="title">
            Encrypt your message
        </div>
    </header>
    <div id="nav">
        <div id="Home" class="headerButtons">
            <a href="index1.html" class="navButton">Home</a>
        </div>
        <div id="Encrypt" class="headerButtons">
            <a href="encrypt.html" class="navButton">Encrypt</a>
        </div>
        <div id="Decrypt" class="headerButtons">
            <a href="decrypt.html" class="navButton">Decrypt</a>
        </div>
        <div id="Thesis" class="headerButtons">
            <a href="thesis.html" class="navButton">Thesis</a>
        </div>
    </div>
    </div>
    <h1>
        I will put stuff here about encryption and the website
    </h1>
</body>

</html>